[[runners]]
  name  = "${RUNNER_NAME}"
  url   = "${GITLAB_URL}"
  token = "${TOKEN}"

  # uncomment for Windows Images when the Runner manager is hosted on Linux
  environment = ["FF_USE_FASTZIP=1"]

  executor = "docker-autoscaler"
  limit    = ${LIMIT}

  # Docker Executor config
  [runners.docker]
    image         = "${DEFAULT_IMAGE}"
    host          = "unix:///var/run/docker.sock"
    privileged    = true

  # Autoscaler config
  [runners.autoscaler]
    plugin = "fleeting-plugin-googlecompute"

    capacity_per_instance = 1
    max_use_count         = 1
    max_instances         = ${LIMIT}

    [runners.autoscaler.plugin_config] # plugin specific configuration (see plugin documentation)
      name             = "${INSTANCE_GROUP_NAME}" # GCP Instance Group name
      project          = "${PROJECT_ID}"
      zone             = "${ZONE}"

    [runners.autoscaler.connector_config]
      username               = "core"
      use_external_addr      = false
      use_static_credentials = true
      key_path               = "/root/.ssh/id_rsa"
      timeout                = ${SSH_TIMEOUT}

    [[runners.autoscaler.policy]]
      idle_count = ${IDLE_COUNT}
      idle_time  = "5m0s"

  [runners.cache]
    Type = "gcs"
    path = "${CACHE_PATH}"
    Shared = true
    [runners.cache.gcs]
      BucketName = "${BUCKET_NAME}"